{% extends "layout.html.twig" %}

{% block content %}
	<form method="post" action="doSessions">
		<div class="form-row">
			<div class="form-group col-md-6">
				<select class="form-control" name="id_blog">
					{% for blog in blogs %}
						<option value="{{ blog.ID }}">{{ blog.ID }}:
							{{ blog.title }}</option>
					{% endfor %}
				</select>
				<input type="submit" name="selectArticle" value="Valider" class="float-right btn btn-sign">
			</div>
		</div>
	</form>

	<form method="post" id="form_creation" action="doUpdate">
		<input type="hidden" name="id_blog" value="{{ session.id_blog }}"/>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="titre">Titre :</label>
				<input type="text" class="form-control" value="{{ session.titre }}" name="titre" required>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="text">Article :</label>
				<textarea rows="4" cols="50" name="text" required>{{ session.text }}</textarea>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="id_concert">Concert :</label>
				<select class="form-control" name="id_concert" id="id_concert">
					<option value=""></option>
					{% for concert in concerts %}
						{% if concert.ID !=99 %}
							<option {% if concert.ID == session.id_concert %} selected {% endif %} value="{{ concert.ID }}">
								{{ concert.title }}
							</option>
						{% endif %}
					{% else %}
						<option value="">Nothing to display</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="id_clip">Clip :</label>
				<select class="form-control" name="id_clip" id="id_clip">
					<option value=""></option>
					{% for clip in clips %}
						{% if clip.ID!=99 %}
							<option {% if clip.ID == session.id_clip %} selected {% endif %} value="{{ clip.ID }}">
								{{ clip.name }}
							</option>
						{% endif %}
					{% else %}
						<option value="">Nothing to display</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="id_photos">Photo :</label>
				<select class="form-control" name="id_photos" id="id_photos">
					<option value=""></option>
					{% for photo in photos %}
					{% if photo.ID != 99 %}
						<option {% if photo.ID == session.id_photo %} selected {% endif %} value="{{ photo.ID }}">
							{{ photo.name }}
						</option>
					{% endif %}
					{% else %}
						<option value="">Nothing to display</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="id_gallery">Photo gallery :</label>
				<select class="form-control" name="id_gallery" id="id_gallery">
					<option value=""></option>
					{% for gallery in galleries %}
					{% if gallery.ID != 99 %} 
						<option {% if gallery.ID == session.id_gallery %} selected {% endif %} value="{{ gallery.ID }}">
							{{ gallery.name }}
						</option>
					{% endif %}
					{% else %}
						<option value="">Nothing to display</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-6">
				<input type="hidden" name="form-submitted" value="1"/>
				<input type="submit" value="Valider" class="float-right btn btn-sign">
			</div>
		</div>
	</form>
{% endblock %}
